@charset "utf-8";


#content
{
	
	margin-top: 100px;
}

#upload
{
	border: 0 none;
	background: #535353;
	width: 146px;
	height: 40px;
	padding: 0;
}

#form
{
	width: 146px;
}

#upload p
{
	color: #ffffff;
	padding: 0 0 0 10px;
	text-align: left;
}

#gallery
{
	width: 803px;
	height: 240px;
	margin-top: 17px;
}

#gallery a:first-child img
{
	margin-left: 0px;
}


#gallery a img
{
	margin-left: 36px;
}

#button_gallery
{
	margin: 20px 0 0 0;



}

#overlay
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(83,83,83,0.9);
	display:none;
	z-index:9999;
}
#lightbox
{
	position:fixed;
	top:50%;
	left:50%;
	padding:10px;
	background:#c1c1c1;
	width:600px;
	height:400px;
	margin:-200px 0 0 -300px;
	display:none;
	z-index:10000;

}

#lightbox a.close
{
	color:#111;
	background:#c1c1c1;
	position:absolute;
	right:0;
	top:0;
	display:block;
	font-size:10px;
	z-index:5;
	padding:6px 14px 4px 6px;

}
#lightbox a.prev,#lightbox a.next
{
	position:absolute;
	top:85%;
	left:0;
	padding:2px;
	background:#c1c1c1;
	margin-top:-0.5em;
	width:6em;
	text-align:center;

}
#lightbox a.next
{
	left:auto;
	right:0;
}
