@charset "utf-8";

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #e1e1e1;
	font-family: 'Mako', sans-serif;
	font-size: 100%;
	color: #1f1f1f;
}

a
{
	text-decoration: none;
	color: #1f1f1f;
}
h1, h2, h3
{
	font-family: 'Bevan', serif;
	font-size: 300%;	

	margin: 0;
	padding: 0;
}
#header
{
	height: 10%;
}

#logo
{
	margin-left: 100px;
	margin-top: 30px;
}

#content
{
	min-height: 500px;
	height: 68%;
	width: 100%;
	align: center;
}

#content-inner
{
    padding: 190px 0 1px 110px;
}

form {
	width:560px;
}

.formfield
{
	margin: 0;
	background: #c9c9c9;
	border: 0 none;
	height: 40px;
	width: 485px;
	padding-left: 15px;
	font-size: 100%;
}

.button
{
	margin-left: 10px;
	height: 40px;
	width: 40px;
	border: 0 none;
	background-color: #005013;
	font-family: 'Bevan', serif;
	color: #e1e1e1;
}

#wrapper
{
    height: 100%;
}


form p
{
	padding: 0;
	margin: 0;
	padding-right: 60px;
	text-align: right;
}
.helper{
	position: relative;
	padding-left: 30px;
}

.helper_move{
	display: block;
	width: 82px;
	height: 92px;
	background: url('/resource/images/helper.png') bottom;
	text-indent: -99999px;
}
.helper_move:hover{	
	background-position: 0 0;
}
#footer
{
	clear: both;
	width: 100%;
	height: 9%;
	background: #1f1f1f;
}

#footer_nav
{
	padding-top: 15px;
	padding-left: 90px;
}
#footer_nav li
{
	text-transform: uppercase;
	font-size: 90%;
	list-style: none;
	display: inline;
	padding:0 10px 0px 10px;
	border-left: 1px solid #e1e1e1;
}
#footer_nav li:first-child
{
	border: none;
}

#footer_nav a
{
	color: #e1e1e1;	
}
